# Ignore Python bytecode files
__pycache__/

# Ignore Alembic migration files
alembic/versions/

# Ignore database file
*.db

# Ignore virtual environment
venv/
env/

# Ignore logs and other runtime files
logs/
*.log
*.log.*
*.pid
*.pyc

# Ignore local configuration files
*.ini

# Ignore editor-specific files
.vscode/
*.sublime-project
*.sublime-workspace

# Ignore generated documentation
docs/_build/

# Ignore dependencies
.venv/
pip-lock.txt
